
/* Basic CSS for "Default" megamenu style */

#taxonomy-megamenu ul,
#taxonomy-megamenu li {
  font-size:14px;
  font-family:Arial, Helvetica, sans-serif;
  line-height:21px;
  text-align:left;
}

#taxonomy-megamenu {
  list-style:none;
  width:940px;
  margin:30px auto 0px auto;
  height:43px;
  padding:0px 20px 0px 20px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #014464;
  background: -moz-linear-gradient(top, #0272a7, #013953);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#0272a7), to(#013953));
  border: 1px solid #002232;
  -moz-box-shadow:inset 0px 0px 1px #edf9ff;
  -webkit-box-shadow:inset 0px 0px 1px #edf9ff;
  box-shadow:inset 0px 0px 1px #edf9ff;
}
  
#taxonomy-megamenu li {
  float:left;
  text-align:center;
  position:relative;
  padding: 4px 10px 4px 10px;
  margin-right:30px;
  margin-top:7px;
  border:none;
}

#taxonomy-megamenu li:hover {
  border: 1px solid #777777;
  padding: 4px 9px 4px 9px;
  background: #F4F4F4;
  background: -moz-linear-gradient(top, #F4F4F4, #EEEEEE);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F4F4F4), to(#EEEEEE));
  -moz-border-radius: 5px 5px 0px 0px;
  -webkit-border-radius: 5px 5px 0px 0px;
  border-radius: 5px 5px 0px 0px;
}

#taxonomy-megamenu li.no-children:hover {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

#taxonomy-megamenu li a {
  font-family:Arial, Helvetica, sans-serif;
  font-size:14px;
  color: #EEEEEE;
  display:block;
  outline:0;
  text-decoration:none;
  text-shadow: 1px 1px 1px #000;
}

#taxonomy-megamenu li:hover a {
  color:#161616;
  text-shadow: 1px 1px 1px #FFFFFF;
}

#taxonomy-megamenu li .drop {
  padding-right:21px;
  background:url("img/drop.png") no-repeat right 8px;
}

#taxonomy-megamenu li:hover .drop {
  background:url("img/drop.png") no-repeat right 7px;
}

.dropdown_0columns,
.dropdown_1column,
.dropdown_2columns,
.dropdown_3columns,
.dropdown_4columns,
.dropdown_5columns {
  margin:4px auto;
  float:left;
  position:absolute;
  left:-999em;
  text-align:left;
  padding:10px 5px 10px 5px;
  border:1px solid #777777;
  border-top:none;
  background:#F4F4F4;
  background: -moz-linear-gradient(top, #EEEEEE, #BBBBBB);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#EEEEEE), to(#BBBBBB));
  -moz-border-radius: 0px 5px 5px 5px;
  -webkit-border-radius: 0px 5px 5px 5px;
  border-radius: 0px 5px 5px 5px;
}

.dropdown_1column {
  width: 140px;
}

.dropdown_2columns {
  width: 280px;
}

.dropdown_3columns {
  width: 420px;
}

.dropdown_4columns {
  width: 560px;
}

.dropdown_5columns {
  width: 700px;
}

#taxonomy-megamenu li:hover .dropdown_0columns,
#taxonomy-megamenu li:hover .dropdown_1column,
#taxonomy-megamenu li:hover .dropdown_2columns,
#taxonomy-megamenu li:hover .dropdown_3columns,
#taxonomy-megamenu li:hover .dropdown_4columns,
#taxonomy-megamenu li:hover .dropdown_5columns {
  left:-1px;
  top:auto;
  z-index: 99999;
}

.col_1,
.col_2,
.col_3,
.col_4,
.col_5 {
  display:inline;
  float: left;
  position: relative;
  margin-left: 5px;
  margin-right: 5px;
}

.col_1 {
  width:130px;
}

.col_2 {
  width:270px;
}

.col_3 {
  width:410px;
}

.col_4 {
  width:550px;
}

.col_5 {
  width:690px;
}

#taxonomy-megamenu .menu_right {
  float:right;
  margin-right:0px;
}

#taxonomy-megamenu li .align_right {
  -moz-border-radius: 5px 0px 5px 5px;
  -webkit-border-radius: 5px 0px 5px 5px;
  border-radius: 5px 0px 5px 5px;
}

#taxonomy-megamenu li:hover .align_right {
  left:auto;
  right: -1px;
  top:auto;
}

#taxonomy-megamenu p,
#taxonomy-megamenu h2,
#taxonomy-megamenu h3,
#taxonomy-megamenu ul li {
  font-family:Arial, Helvetica, sans-serif;
  line-height:21px;
  font-size:12px;
  text-align:left;
  text-shadow: 1px 1px 1px #FFFFFF;
}

#taxonomy-megamenu h2 {
  font-size:21px;
  font-weight:400;
  letter-spacing:-1px;
  margin:7px 0 14px 0;
  padding-bottom:14px;
  border-bottom:1px solid #666666;
}

#taxonomy-megamenu h3 {
  font-size:14px;
  margin:7px 0 14px 0;
  padding-bottom:7px;
  border-bottom:1px solid #888888;
}

#taxonomy-megamenu p {
  line-height:18px;
  margin:0 0 10px 0;
}

#taxonomy-megamenu li:hover div a {
  font-size:12px;
  color:#015b86;
}

#taxonomy-megamenu li:hover div a:hover {
  color:#029feb;
}

.strong {
  font-weight:bold;
}

.italic {
  font-style:italic;
}

.imgshadow {
  background:#FFFFFF;
  padding:4px;
  border:1px solid #777777;
  margin-top:5px;
  -moz-box-shadow:0px 0px 5px #666666;
  -webkit-box-shadow:0px 0px 5px #666666;
  box-shadow:0px 0px 5px #666666;
}
  
.img_left {
  width:auto;
  float:left;
  margin:5px 15px 5px 5px;
}

#taxonomy-megamenu li .black_box {
  background-color:#333333;
  color: #eeeeee;
  text-shadow: 1px 1px 1px #000;
  padding:4px 6px 4px 6px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow:inset 0 0 3px #000000;
  -moz-box-shadow:inset 0 0 3px #000000;
  box-shadow:inset 0 0 3px #000000;
}

#taxonomy-megamenu li ul {
  list-style:none;
  padding:0;
  margin:0 0 12px 0;
}

#taxonomy-megamenu li ul li {
  font-size:12px;
  line-height:24px;
  position:relative;
  text-shadow: 1px 1px 1px #ffffff;
  padding:0;
  margin:0;
  float:none;
  text-align:left;
  width:130px;
  list-style: none;
}

#taxonomy-megamenu li ul li:hover {
  background:none;
  border:none;
  padding:0;
  margin:0;
}

#taxonomy-megamenu li .greybox li {
  background:#F4F4F4;
  border:1px solid #bbbbbb;
  margin:0px 0px 4px 0px;
  padding:4px 6px 4px 6px;
  width:116px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

#taxonomy-megamenu li .greybox li:hover {
  background:#ffffff;
  border:1px solid #aaaaaa;
  padding:4px 6px 4px 6px;
  margin:0px 0px 4px 0px;
}

#taxonomy-megamenu-search {
  float: left;
  margin: 7px 10px 0 10px;
}